@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Facebook demo application</h1>

<div class="page-content">
    <div class="alert alert-info">
        Facebook demo application allows access to facebook posts and profile.
        For more info contact IT support!
    </div>
    <div class="home-contact">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-envelope"></i>
                <p>irmaosmanovic93io@gmail.com</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <i class="glyphicon glyphicon-earphone"></i>     
                <p>0603034046</p>
            </div>
        </div>
    </div>
    

</div>
